<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container <%=containerHeight%>">
        <div class="search-box">
            <form action="/weather" method="POST">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" class="search" name="location" placeholder="Enter a city">
                <button class="fa-solid fa-magnifying-glass" formaction="/weather" method="post"></button>
            </form>
        </div>
        <% if (locals.error) { %>
        <div class="not-found">
            <img src="images/page-not-found.jpg" alt="Location not found">
            <p>Oops! Location not found. Try again.</p>
        </div>
        <% } %>

        <% if (locals.temperature) { %>
        <div class="weather-box">
                <h1><%=location%></h1>
                <img src="https://openweathermap.org/img/wn/<%=icon%>@2x.png">
                <p class="temperature"><%= temperature %><span>°C</span></p>
                <p class="description"><%= description %></p>
        </div>
        <div class="weather-details">
            <div class="humidity">
                <i class="fa-solid fa-water"></i>
                <div class="text">   
                    <% if (locals.humidity) { %>
                        <span><%= humidity %>%</span>
                    <% } %>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="wind">
                <i class="fa-solid fa-wind"></i>
                <div class="text">
                    <% if (locals.wind) { %>
                        <span><%= wind %>Km/h</span>
                    <% } %>
                    <p>Wind speed</p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="https://kit.fontawesome.com/e30790710b.js" crossorigin="anonymous"></script>
</body>
</html>